<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">
        
	<context:component-scan base-package="spring.framework.core.Testing"></context:component-scan>
	
	
<!--    get car class as an implementation of Vehicule -->
<!-- 	<bean id="vehicule" class="spring.framework.core.Testing.Bike"></bean> -->


	<!--    define a bean and set a default value for our private attribute -->
	<bean id="tyre" class="spring.framework.core.Testing.Tyre">
	
	<!-- 	Using a setter injection -->
	<!-- 	<property name="brand" value="BMW"></property> -->

	
	<!-- 	Using a constructor injection -->
	<!-- 	<constructor-arg value="usingConstructorInjection"></constructor-arg> -->
	</bean> 
	
</beans>